@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");


#canvas {
  border: 5px double black;
  background-color: rgba(233, 243, 140, 0.62);
}

body {
  background-image: url("img/snake-game-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.titleScore {
  float: left;
  font-family: "Press Start 2P", cursive;
  font-size: 15px;
  border: 2px solid orange;
}
#score {
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
}

#playBtn {
  font-family: "Press Start 2P", cursive;
}

.rightCol {
  margin-top: 50px;
}
