@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");


#canvas {
  border: 5px double black;
  background-color: rgba(233, 243, 140, 0.62);
  margin-top: 2%;
  margin-left: 10%;
  margin-right: auto;
}

body {
  background-image: url("img/snake-game-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 120%;

}

#score {
  font-family: "Press Start 2P", cursive;
  float: left;
}

#playBtn {
  font-family: "Press Start 2P", cursive;
  border-color: yellow;
  float: right;
  margin-right: 10%;
}
